.form {
  width: 75%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  overflow: scroll;
}

.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.radioContainer {
  margin: auto;
}

.options_container {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: fit-content;
  margin-left: 0;
  gap: 10px;
  padding: 1rem 0;
  flex-wrap: wrap;
}

.interventionCodes {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.interventionOptions {
  gap: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  flex: 1;
  overflow: scroll;
}

.interventionItems {
  display: grid;
  padding: 0 1rem;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  flex: 1;

  overflow: scroll;
}

h2 {
  margin-right: auto;
}

button {
  line-height: 1rem !important;
}

.item_counter {
  display: flex;
  flex-direction: row;
}
p {
  padding: 0 1rem;
}
